@import "tailwindcss";

@theme {
    --color-primary: var(--color-zinc-50);
    --color-secondary: var(--color-zinc-400);

    --color-background: var(--color-gray-800);
    --color-background-secondary: var(--color-gray-600);

    --color-background-alt: var(--color-gray-950);

    --color-accent: var(--color-yellow-600);
    --color-error: var(--color-red-600);
    --color-ok: var(--color-green-600);
}
